ul {
  list-style-type: none;
  margin: auto;
}

li {
  float: left
}

li a {
  padding: 7px;

}
.dark {
  background-color: gray;
}

table {
 border-collapse: collapse;
 padding: 10px;
}

table td.bt {
 border-top: 1px solid black;
}

table td {
  border: none;
  padding: 2px;
}
table td.bb {
 border-bottom: 1px solid black;
}
table td.br {
 border-right: 1px solid black;
}
table td.bl {
 border-left: 1px solid black;
}

