#popup2 {
  position: fixed;
  left: 5%;
  top: 10%;
  width: 90%;
  height: 600px;
  background: gray;
  border: 2px solid black;

  filter:alpha(opacity=70);
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

#popup p {
  filter:alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity: 1;
  opacity: 1;

}
ul {
  list-style-type: none;
  margin: auto;
}

li {
  float: left
}

li a {
  padding: 7px;

}
.dark {
  background-color: gray;
}

table {
 border-collapse: collapse;
 padding: 10px;
}

table td.bt {
 border-top: 1px solid black;
}

table td {
  border: none;
}
table td.bb {
 border-bottom: 1px solid black;
}
table td.br {
 border-right: 1px solid black;
}
table td.bl {
 border-left: 1px solid black;
}
table td.upset {
  padding: 2px;
  color: red;
  font-weight: bold;
}
table.blank td {
  padding: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
table.blank td.division {
  padding: 1px;
  font-weight: bold;
}
table.bracket td {
  padding: 0px;
  line-height: 13px;
  font-size: 12px;
}
div.division {
  font-weight: bold;
  color: blue;
  border: 1px solid black;
  text-align: center;
  background-color: lightGrey;
  width: 100px;
  position: relative;
  left: 40px;
  font-size: 14px;
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
div.bracket-container {
 border: 1px solid lightGrey;
 padding: 9px;
}
div.bracket-title{
  background-color: lightGrey;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 9px;
}
