<h1>Pages#contact</h1>
<p><%= mail_to "dustinsmith1024@hotmail.com", "D Smith", :subject => "Bracket Challenge!" %> </p>
<p><%= link_to "Twitter@dustinsmith1024", "http://twitter.com/#!/dustinsmith1024" %> </p>
<p><%= link_to "facebook", "http://www.facebook.com/dustinsmith1024" %> </p>
